* {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
}

/*
.menu {
  display: flex;
  flex-direction: row;
  min-width: 800px;
  margin-left: 100px;

}

.logo {
  font-size: 45px;
  color: black;
  font-family: 'Comic Sans MS';
}
.logo:hover {
  color: rgb(233, 130, 238);
  transition: 6s.ease;
}

.container {
  display: flex;
  justify-content: space-between;
  background: rgb(224, 215, 217);
  border-bottom: 0.002px solid rgb(171, 171, 171);
  font-family: 'Comic Sans MS';

}
header {
  margin: 0 auto;
  width: 100%;
}

.element {
  margin-left: 5px;
  padding: 15px;
<<<<<<< HEAD:app/static/css/style.css
  background: rgb(195, 195, 191);ç
=======
  background: rgb(224, 215, 217);
>>>>>>> 68ec655f00963ac9be12aa9a4b00619f6c496f51:app/templates/style.css
  margin: 10px;
  border-radius: 10px;
  color: black;
}
.element:hover {
  background: rgb(99, 165, 198);
} */
.container {
  display: flex;
  justify-content: space-between;
  background: rgb(224, 215, 217);
  border-bottom: 0.002px solid rgb(171, 171, 171);

}
a {
  color: black;
}

.menu {
  display: flex;
  flex-direction: row;
}

.element {
  margin-left: 5px;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;

}

.element:hover {
  background: rgb(94, 94, 94);
}

.logo {
  font-size: 45px;
  color: black;
  font-family: 'Comic Sans MS';
}

.logo:hover {
  color: rgb(233, 130, 238);

}

#Container{
    background-image:url();
    margin: 0px auto;
    min-width:950px;
    max-width:950px;
    text-align:left;
    border: 1px solid #000;
}
