<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Я хуесос</title>
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">JD</div>
        <div class="menu">
          <div class="element"><a href="#">Главная</a></div>
          <div class="element"><a href="#">О нас</a></div>
          <div class="element"><a href="#">Контакты</a></div>
          <div class="element"><a href="#">Обратная связь</a></div>
          <div class="element"><a href="#">Иероглифы</a></div>
        </div>
        <div class="menu">
          <div class="element"><a href="#">Регистрация</a></div>
          <div class="element"><a href="#">Вход</a></div>
        </div>
      </div>
    </header>

    <!-- {% block content %}  {% endblock %} -->
  </body>
</html>
